//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "hold-preferred";
    tapping-term-ms = <180>;
};

&lt {
    tapping-term-ms = <400>;
    flavor = "balanced";
    quick-tap-ms = <400>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        td_Macro_Net: td_Macro_Net {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MACRO_NET";
            #binding-cells = <0>;
            bindings = <&Macro_Net1>, <&Macro_Net2>;

            tapping-term-ms = <350>;
        };

        td_Refresh: td_Refresh {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_REFRESH";
            #binding-cells = <0>;
            bindings = <&kp LC(R)>, <&Mecro_Refresh>;

            tapping-term-ms = <350>;
        };

        td_mail: td_mail {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MAIL";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(G))>, <&kp LA(LC(N))>;
        };

        td_chrome_newtab: td_chrome_newtab {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CHROME_NEWTAB";
            #binding-cells = <0>;
            bindings = <&kp LC(T)>, <&kp LC(LS(T))>;

            tapping-term-ms = <350>;
        };

        over_S_save: over_S_save {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_S_SAVE";
            bindings = <&kp S>, <&kp LC(S)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_I_Up: over_I_Up {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_I_UP";
            bindings = <&kp I>, <&kp LS(UP_ARROW)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_J_Left: over_J_Left {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_J_LEFT";
            bindings = <&kp J>, <&kp LS(LEFT_ARROW)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_K_Down: over_K_Down {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_K_DOWN";
            bindings = <&kp K>, <&kp LS(DOWN_ARROW)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_L_Right: over_L_Right {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_L_RIGHT";
            bindings = <&kp L>, <&kp LS(RIGHT_ARROW)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hmc: homerow_mods_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HMC";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <34>;
        };

        OSM_shift: OSM_shift {
            compatible = "zmk,behavior-sticky-key";
            label = "OSM_SHIFT";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <50>;
            quick-release;
        };

        LT_hold: LT_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_HOLD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <240>;
        };

        MT_hold: MT_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <200>;
        };

        over_R_f4: over_R_f4 {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_R_F4";
            bindings = <&kp R>, <&kp LA(F4)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_D_ctl: over_D_ctl {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_D_CTL";
            bindings = <&kp D>, <&kp LC(D)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_E_ctl: over_E_ctl {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_E_CTL";
            bindings = <&kp E>, <&kp LC(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        over_F_ctl: over_F_ctl {
            compatible = "zmk,behavior-mod-morph";
            label = "OVER_F_CTL";
            bindings = <&kp F>, <&kp LC(F)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        ht_test: ht_test {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TEST";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
        };

        td_hold_test: td_hold_test {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_HOLD_TEST";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1>, <&ht_test NUMBER_3 NUMBER_2>;
        };

        LT_retro: LT_retro {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_RETRO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "hold-preferred";
            retro-tap;
            quick-tap-ms = <300>;
        };

        ht_refresh: ht_refresh {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_REFRESH";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            global-quick-tap;
            bindings = <&Mecro_Refresh>, <&kp>;
        };

        ht_mkp: ht_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MKP";
            bindings = <&mkp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <200>;
            flavor = "balanced";
        };
    };

    combos {
        compatible = "zmk,combos";

        Delete_alt {
            bindings = <&hm LALT DEL>;
            key-positions = <11 12>;
            layers = <0>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <16 17>;
            layers = <0>;
            timeout-ms = <400>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <19 31>;
            layers = <0>;
            timeout-ms = <350>;
        };

        alt+f4 {
            bindings = <&kp LA(F4)>;
            key-positions = <0 20>;
            layers = <0 2>;
        };

        brackets {
            bindings = <&kp LPAR>;
            key-positions = <13 14>;
            layers = <0 2>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <0 1 8 9>;
            layers = <0>;
            timeout-ms = <350>;
        };

        four {
            bindings = <&kp DOLLAR>;
            key-positions = <3 14>;
            layers = <0 2>;
            require-prior-idle-ms = <100>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <27 28>;
            timeout-ms = <350>;
            layers = <0>;
        };

        del {
            bindings = <&mt LALT DELETE>;
            key-positions = <18 17>;
            layers = <0>;
        };

        quotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <30 29>;
            layers = <0>;
        };

        exclamation {
            bindings = <&mt LSHIFT EXCLAMATION>;
            key-positions = <12 13>;
            layers = <0 2>;
        };

        qua {
            bindings = <&kp SQT>;
            key-positions = <29 28>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <21 22>;
            layers = <0>;
        };

        middle_click {
            bindings = <&ht_mkp MCLK LC(PAGE_UP)>;
            key-positions = <22 23>;
            timeout-ms = <350>;
            layers = <0>;
        };

        right_click {
            bindings = <&ht_mkp RCLK LC(PAGE_DOWN)>;
            key-positions = <23 24>;
            layers = <0 2>;
        };

        five {
            bindings = <&kp PERCENT>;
            key-positions = <6 15>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        six {
            bindings = <&kp CARET>;
            key-positions = <6 7>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        seven {
            bindings = <&kp AMPERSAND>;
            key-positions = <8 7>;
            layers = <0>;
        };

        two {
            bindings = <&kp AT_SIGN>;
            key-positions = <1 2>;
            layers = <0 2>;
            require-prior-idle-ms = <100>;
        };

        three {
            bindings = <&kp HASH>;
            key-positions = <2 3>;
            layers = <0 2>;
            require-prior-idle-ms = <100>;
        };

        eight {
            bindings = <&kp ASTERISK>;
            key-positions = <8 9>;
            layers = <0 2>;
            require-prior-idle-ms = <100>;
        };

        wave {
            bindings = <&mt LCTRL TILDE>;
            key-positions = <10 11>;
            layers = <0 2>;
            require-prior-idle-ms = <100>;
        };

        Macro_brackets {
            bindings = <&kp RPAR>;
            key-positions = <15 16>;
            layers = <0>;
            timeout-ms = <350>;
        };

        TG {
            bindings = <&tog 0>;
            key-positions = <10 19 11 18>;
            layers = <0>;
        };

        gaming {
            bindings = <&tog 1>;
            key-positions = <20 31>;
            layers = <0 1>;
        };

        backtick {
            bindings = <&kp GRAVE>;
            key-positions = <20 10>;
            layers = <0>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <31 30>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };

        semi {
            bindings = <&mt LCTRL SEMICOLON>;
            key-positions = <19 18>;
            layers = <0>;
        };

        L_bracket {
            bindings = <&kp LBKT>;
            key-positions = <4 3>;
            layers = <0>;
        };

        R_bracket {
            bindings = <&kp RBKT>;
            key-positions = <5 6>;
            layers = <0>;
        };

        all {
            bindings = <&kp LC(A)>;
            key-positions = <10 34>;
            layers = <0>;
        };

        underbar {
            bindings = <&kp UNDERSCORE>;
            key-positions = <26 27>;
            layers = <0>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <25 24>;
        };
    };

    macros {
        Macro_Net1: net_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW &kp LEFT_ARROW &kp N0 &kp ENTER>;
            label = "NET_MACRO";
        };

        Macro_Net2: net_macro2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW &kp N0 &kp N0 &kp ENTER>;
            label = "NET_MACRO2";
        };

        Mecro_Log: Mecro_Log {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp D &kp L &kp D &kp M &kp D &kp D &kp L>;
            label = "MECRO_LOG";
        };

        Mecro_Refresh: Mecro_Refresh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LC(C) &kp LC(R)>;
            label = "MECRO_REFRESH";
        };

        Macro_brackets: Macro_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT_ARROW>;
            label = "MACRO_BRACKETS";
        };

        Macro_bracket_r: Macro_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "MACRO_BRACKET";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Totem {
            display-name = "Totem";
            bindings = <
                              &kp Q  &kp W  &kp E            &kp R        &kp T             &kp Y            &kp U         &over_I_Up     &kp O          &kp P
                              &kp A  &kp S  &kp D            &kp F        &kp G             &kp H            &over_J_Left  &over_K_Down   &over_L_Right  &kp B
&MT_hold RIGHT_SHIFT LG(TAB)  &kp Z  &kp X  &kp C            &kp V        &kp B             &kp N            &kp M         &kp COMMA      &kp PERIOD     &lt 0 SLASH  &kp RIGHT_SHIFT
                                            &LT_retro 3 TAB  &lt 1 SPACE  &LT_hold 2 TAB    &lt 4 BACKSPACE  &kp LSHFT     &kp RIGHT_ALT
            >;
        };

        CONTROLS {
            bindings = <
              &kp PRINTSCREEN  &trans        &trans      &kp ESC           &trans           &kp PG_UP     &kp HOME     &kp UP         &kp END    &kp P
              &kp LALT         &kp LEFT_GUI  &kp LSHIFT  &kp LEFT_CONTROL  &kp RIGHT_ALT    &kp PG_DN     &kp LEFT     &kp DOWN       &kp RIGHT  &kp SEMI
&lt 0 ESCAPE  &kp LCTRL        &kp Z         &trans      &kp TAB           &trans           &kp LC(BSPC)  &kp BSPC     &kp DEL        &kp DOT    &kp FSLH  &kp ENTER
                                             &kp LALT    &kp SPACE         &lt 0 ENTER      &kp RET       &lt 0 SPACE  &kp LS(SPACE)
            >;

            label = "ISAAC'-'";
        };

        Numpad {
            display-name = "Numpad";
            bindings = <
           &kp LC(L)  &kp LC(W)       &kp UP_ARROW    &ht_refresh 0 LC(R)  &hm LS(LC(T)) LC(T)    &kp PLUS       &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK
           &kp LC(A)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW      &kp LC(G)              &kp MINUS      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH
&kp LC(Y)  &kp LC(Z)  &kp LC(X)       &kp LC(C)       &kp LC(V)            &kp C_AC_HOME          &kp N1         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL     &kp EQUAL
                                      &Mecro_Log      &td_Macro_Net        &trans                 &kp BACKSPACE  &kp N0        &kp NUMBER_0
            >;
        };

        Function {
            display-name = "Function";
            bindings = <
                        &kp F1  &kp F2   &kp F3   &kp F4             &kp LC(LG(RIGHT))    &none  &none         &kp LG(UP_ARROW)  &none          &none
                        &kp F5  &kp F6   &kp F7   &kp F8             &kp C_VOL_UP         &none  &kp LG(LEFT)  &kp LG(DOWN)      &kp LG(RIGHT)  &none
&kp LC(LG(LEFT_ARROW))  &kp F9  &kp F10  &kp F11  &kp F12            &kp C_VOL_DN         &none  &none         &none             &none          &none  &none
                                         &none    &kp LS(LA(LC(F)))  &kp LS(LA(LC(A)))    &none  &none         &none
            >;
        };

        SYMBOLS {
            display-name = "Media";
            bindings = <
       &kp LS(EXCL)   &kp LS(AT)     &kp LS(POUND)  &kp LS(DLLR)   &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)    &kp LS(STAR)     &kp LS(LPAR)  &kp LS(RPAR)
       &kp LS(TILDE)  &kp LS(TILDE)  &kp MINUS      &kp LS(UNDER)  &kp SQT          &kp LS(DQT)    &kp LS(PLUS)    &kp EQUAL        &kp RBKT      &kp GRAVE
&none  &kp LBKT       &kp LBKT       &kp LS(LBRC)   &kp LS(LPAR)   &kp BSLH         &kp LS(PIPE)   &kp LS(RPAR)    &kp LS(RBRC)     &kp RBKT      &kp LS(TILDE)  &kp GRAVE
                                     &trans         &kp SPACE      &kp TAB          &trans         &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;
        };

        Shortcut {
            display-name = "Shortcut";
            bindings = <
                    &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)   &kp LG(NUMBER_4)  &kp LG(N5)         &kp LG(NUMBER_6)       &kp LG(N7)     &kp LG(N8)     &kp LG(N9)     &kp LG(N0)
                    &kp LA(LC(A))     &kp LA(LC(S))     &kp LA(LC(D))      &kp LA(LC(F))     &td_mail           &kp LA(LC(H))          &kp LA(LC(J))  &kp LA(LC(K))  &kp LA(LC(L))  &trans
&kp LC(LS(ESCAPE))  &kp Z             &kp LA(LC(X))     &kp LA(LC(C))      &kp LA(LC(V))     &kp LA(LC(B))      &kp LA(LC(SEMICOLON))  &trans         &trans         &trans         &kp C_SLEEP  &kp C_SLEEP_MODE
                                                        &kp C_VOLUME_DOWN  &trans            &kp C_VOLUME_UP    &kp C_AL_CALCULATOR    &kp LG(A)      &kp LG(N)
            >;
        };
    };
};
